* {
    box-sizing: border-box;
    margin: 0;
    --time-bg: rgb(102, 0, 0);
    --button-color1: rgb(180, 0, 0);
    --button-color2: rgb(80, 0, 0);
}


body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(rgb(40, 40, 80), rgb(0, 0, 40));
    color: white;
}

h1 {
    margin-top: 30px;
    font-size: 10rem;
}

#timer {
    margin-top: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 10rem;
    font-family: monospace
}

.timer-buttons {
    font-size: 1rem;
    text-align: center;
}

.add-dec-time {
    height: 50px;
    width: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    font-weight: bold;
}

.control-buttons button {
    margin: 100px 40px 30px 40px;
    width: 220px;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.zeros {
    height: 50px;
    width: 50px;
    font-family: monospace;
    font-size: 2rem;
}


.time-input {
    background-color: var(--time-bg);
    border-radius: 30px;
    height: fit-content;
    width: 185px;
    margin: 5px 0;
    text-align: center;
    background-color: var(--time-bg);
    border: 0px solid transparent;
    color: white;
    font-family: monospace;
    font-size: 10rem;
}

button {
    background-color:rgb(190, 0, 0);
    color: rgb(0, 0, 100);
    border: 3px solid rgb(0, 0, 100);
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
    background-color:rgb(0, 0, 100);
    color: rgb(190, 0, 0);
    
}

button:active {
    background-color:rgb(0, 0, 200);
    color: rgb(190, 0, 0);
}

.test-input {
    height: 100px;
    width:100px;
    font-size: 60px;
    text-align: center;
    scrollbar-width: 0;
    background-color: var(--time-bg);
    border-radius: 30px;
    margin: 5px 0;
    border: 0px solid transparent;
}

/* Gets rid of arrows on number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.manual-entry {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background-color: var(--time-bg);
    height: fit-content;
    width: 230px;
    text-align: center;
    border-radius: 5px;
    border: 3px solid darkblue;
}

.time-entry {
    display: flex;
    justify-content: space-evenly;
}

.time-entry-block {
    margin: 10px;
    font-family: monospace;
}

.time-entry input {
    margin: 10px 0;
    text-align: center;
    font-size: 60px;
    color: white;
    font-family: monospace;
    width: 75px;
    background: linear-gradient(darkred, rgb(121, 0, 0));
    border: none;
    border-radius: 10px;
}

.manual-entry button {
    height: 30px;
    width: 100px;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid darkblue;
    font-family: monospace;
    margin-bottom: 10px;
}

#drag {
    width: 23%;
    height: 20px;
    background-color: rgb(146, 0, 0);
    border-right: 1px solid darkblue;
    border-bottom: 1px solid darkblue;
    position: relative;
    top: 0;
    left: 0;
}

#drag:hover {
    cursor: move;
}

#close-manual-entry {
    width: 10%;
    height: 20px;
    background-color: rgb(146, 0, 0);
    border-left: 1px solid darkblue;
    border-bottom: 1px solid darkblue;
    position: relative;
    top: -20px;
    right: -90%;
}

#close-manual-entry:hover {
    cursor: pointer;
}